<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reactivity</title>
</head>
<body>
    <div id="test"></div>

    <script src="myVue.js"></script>
    <script>
        var vm = new MyVue({
            el: '#test',
            data: {
                a: 1
            },
            template: '<p>{{ a }}</p>'
        });
    </script>
</body>
</html>